<table>
  <% @request.env.keys.sort.each do |key| -%>
    <tr>
      <td><%= key %></td>
      <td><%= format_env(key) %></td>
    </tr>
  <% end %>
</table>

* Process: <%= $$ %>
* Server : <%= `hostname -s`.chomp %>
