<table>
  <tr>
    <th>URL</th>
    <td><%= @request.protocol %><%= @host %><%= @request.request_uri %></td>
  </tr>
  <tr>
    <th>IP address</th>
    <td><%= @request.env["HTTP_X_FORWARDED_FOR"] || @request.env["REMOTE_ADDR"] %></td>
  </tr>
  <tr>
    <th>Parameters</th>
    <td><%= filter_sensitive_post_data_parameters(@request.parameters).inspect %></td>
  </tr>
  <tr>
    <th>Rails root</th>
    <td><%= @rails_root %></td>
  </tr>
</table>
