<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <style type="text/css">
    body {
      font-size: 10pt;
    }
    h2 {
      background: #cfcfcf;
      padding: 4px;
    }
    pre {
      font-size: 10pt;
    }
    table {
      border-collapse: collapse;
    }
    th, td {
      font-size: 10pt;
      text-align: left;
      border-bottom: 1px dashed gray;
    }
  </style>
</head>
<body>
  <p>
    A <strong><%= @exception.class %></strong> occurred <strong><%= @exception_source %></strong>.
  </p>

  <pre>
    <%= @exception.message %>
    <%= @backtrace.first %>
  </pre>

  <%= @sections.map { |section| render_section(section) }.join %>
</body>
</html>
