<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
</head>
<body>
  <p>
    A <strong><%= @exception.class %></strong> occurred <strong><%= @exception_source %></strong>.
  </p>

  <blockquote>
    <%= @exception.message %>
    <%= @backtrace.first %>
  </blockquote>

  <p>
    <%= @sections.map { |section| render_section(section) }.join %>
  </p>
</body>
</html>
